<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Listings</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Job Listings</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Company</th>
                    <th>Location</th>
                    <th>Description</th>
                    <th>Date Added</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr>
                    <td>{{ job.title }}</td>
                    <td>{{ job.company }}</td>
                    <td>{{ job.location }}</td>
                    <td>{{ job.description }}</td>
                    <td>{{ job.date_added }}</td> <!-- Add date_added here -->
                    <td><a href="{{ job.url }}" target="_blank" class="btn btn-primary btn-sm">Job Link</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
